html, body {
    height: 100%;
}

body {
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.file-name {
    text-align: center !important;
    max-width: unset !important;
}

.file-label {
    width: 100% !important;
    text-align: center !important;
}

.app-header {
    position: fixed;
    top: 0;
    z-index: 100;
}

.app-header-title {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: black;
    text-align: center;
    color: white;
}

.app-header-bar {
    height: 10px;
    width: 100vw;
    background: mediumspringgreen;
}

.app-header-title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upload {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 1.25rem;
}
