{% extends 'base.html' %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/polyline.js') }}"></script>
{% endblock %}

{% block app %}
    <div class="app-container">
        <div style="width: 100vw; overflow: auto;">
            <div style="position: relative; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <img id="original" style="position: absolute; z-index: 1;" src="/uploads/{{ uploaded_image }}"
                     alt="Original image">
                <img id="processed" style="position: absolute; z-index: 2; display: none;" alt="Processed image">
                <canvas id="canvas" style="position: relative; z-index: 3;"></canvas>
            </div>
        </div>
        <button type="submit" id="process">Process</button>
        <button type="button" id="toggle" style="display: none;">Toggle results</button>
        <button type="button" id="measure" style="display: none;">Measuring tool</button>
        <div id="download" style="display: none;">
            <p style="text-align: center;">Download...</p>
            <a id="downloadOriginalImage">Original image</a>
            <a id="downloadProcessedImage">Processed image</a>
            <a id="downloadFoundObjects" disabled>Found objects</a>
        </div>
        <p id="processing" style="display: none;">Processing image</p>
    </div>
    <script>
        const processButton = document.getElementById("process");
        const toggleButton = document.getElementById("toggle");
        const measureButton = document.getElementById("measure");
        const originalImage = document.getElementById("original");
        const processedImage = document.getElementById("processed");
        const downloadDiv = document.getElementById("download");
        const processing = document.getElementById("processing");
        const downloadOriginalImage = document.getElementById("downloadOriginalImage");
        const downloadProcessedImage = document.getElementById("downloadProcessedImage");
        const downloadFoundObjects = document.getElementById("downloadFoundObjects");

        canvas = document.getElementById("canvas");
        ctx = canvas.getContext("2d");

        function showElements(...elements) {
            for (let e of elements) {
                e.style.removeProperty("display");
            }
        }

        function hideElements(...elements) {
            for (let e of elements) {
                e.style.setProperty("display", "none");
            }
        }

        let showingProcessedImage = false;

        originalImage.addEventListener("load", function () {
            setupCanvas(originalImage);
            showElements(measureButton);
            enableResizing();
            measureButton.addEventListener("click", function () {
                resetPolyline();
                startPolyline();
            });
        });

        {#originalImage.src = originalImage.src;#}

        processButton.addEventListener("click", function () {
            hideElements(processButton);
            showElements(processing);

            const url = new URL(window.location.href);
            const imageFilename = url.searchParams.get("image");
            const dictionaryFilename = url.searchParams.get("dictionary");
            const requestData = JSON.stringify({"image": imageFilename, "dictionary": dictionaryFilename});

            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/process_files", true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onreadystatechange = function () {
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    const data = JSON.parse(this.responseText);

                    processedImage.src = "data:image/png;charset=utf-8;base64, " + data["processed_image"];
                    const foundObjects = "data:text/json;charset=utf-8, " + encodeURI(data["networkx_json_graph_list"]);

                    downloadOriginalImage.href = originalImage.src;
                    downloadOriginalImage.download = `${imageFilename}_original.png`;
                    downloadProcessedImage.href = processedImage.src;
                    downloadProcessedImage.download = `${imageFilename}_processed.png`;
                    downloadFoundObjects.href = foundObjects;
                    downloadFoundObjects.download = `${imageFilename}_networkx_json_graph_list.json`;

                    hideElements(processing);
                    showElements(toggleButton, downloadDiv);

                    hideElements(originalImage);
                    showElements(processedImage);

                    showingProcessedImage = true;

                    toggleButton.addEventListener("click", function () {
                        if (showingProcessedImage) {
                            hideElements(processedImage);
                            showElements(originalImage);
                            setupCanvas(originalImage);
                        } else {
                            hideElements(originalImage);
                            showElements(processedImage);
                            setupCanvas(processedImage);
                        }
                        showingProcessedImage = !showingProcessedImage;
                    });
                }
            };

            xhr.send(requestData);
        });
    </script>
{% endblock %}
