{% extends 'base.html' %}

{% block app %}
    <div class="app-container">
        <label for="file">Select DICOM image</label>
        <form id="upload_form" enctype="multipart/form-data">
            <input type="file"
                   id="file" name="file"
                   accept=".dcm">
        </form>
        <button type="submit" id="submit">Submit</button>
    </div>
    <script>
        document.getElementById("submit").addEventListener("click", function () {
            const files = document.getElementById("file").files;
            if (files.length === 0) {
                window.alert("File isn't selected");
                return;
            }

            const xhr = new XMLHttpRequest();
            const formData = new FormData(document.getElementById("upload_form"));
            formData.append("image", files[0]);

            // xhr.setRequestHeader('Content-Type', "multipart/form-data");
            xhr.open("POST", "/upload_image", true);

            xhr.onreadystatechange = function () {
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    const data = JSON.parse(this.responseText);
                    if ("error" in data) {
                        window.alert(data.error);
                    } else {
                        window.location.href = "/show_image/" + data.filename;
                    }
                }
            };

            xhr.send(formData);
        });
    </script>
{% endblock %}
